* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: rgb(249, 235, 210);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  color: rgb(255, 175, 27);
}

.myClass {
  background-color: rgb(249, 235, 210);
}

.bg-signup {
  background-color: rgb(54, 54, 94);
  height: 40vh;
  display: flex;
  align-items: center;
}
.btn {
  background-color: rgb(54, 54, 94);
}
