* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

.header {
  background-color: rgb(249, 235, 210);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  color: orange;
}

.span {
  color: rgb(255, 175, 27);
}

.myClass {
  background-color: rgb(249, 235, 210);
}

#carousel {
  min-height: 70vh;
  display: flex;
  align-items: center;
}

.h1title {
  width: 60%;
  margin: 0 auto;
}

.bg-signup {
  background-color: rgb(54, 54, 94);
  height: 50vh;
  display: flex;
  align-items: center;
}
.btn {
  background-color: rgb(54, 54, 94);
}

.cardBox {
  height: 600px;
}

.signupCont {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
}
